:host {
    --card-background-color-0: rgb(131,131,131);
    --card-background-color-1: rgb(255,255,255);
}

.card {
    position: relative;
    box-sizing: border-box;
    width: var(--card-width, 102px);
    height: 119px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(91, 91, 91, 0.5);
    background-color: var(--card-background-color-0);
}




main {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 77px;
    background-color: var(--card-background-color-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

:host(.binder) header:before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg width="300" height="400" xmlns="http://www.w3.org/2000/svg"><g><path d="M 101 267 L 125 101 M 125 101 A 50 50 0 1 1 175 101 L 201 267" stroke="%23fff" stroke-linecap="round" stroke-width="16" fill="transparent"/></g><g><path d="M 0 250 h 300 v 150 h -300 z" stroke="transparent" fill="%23242729"/></g><g><path d="M 0 300 H 300" stroke="%23fff" stroke-opacity="0.25" stroke-linecap="round" stroke-width="32" fill="transparent"/></g></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate3d(0, -23px, 0);
}

:host(.pin) header:before {
    display: inline-block;
    content: '';
    width: 8px;
    height: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg width="125" height="600" xmlns="http://www.w3.org/2000/svg"><g><path d="M 0 0 L 125 25 L 100 600 H 0 z" stroke="transparent" fill="%23b59b7c"/></g><g><path d="M 0 0 H 100 V 600 H 0 z" stroke="transparent" fill="%23d3b894"/></g><g><path d="M 107 250 V 350 H 25" stroke="%23dee0de" stroke-width="16" fill="transparent"/></g></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate3d(0, -28px, 0);
}

footer {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}