body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    height: 60px;
    padding: 0 20px;

    display: flex;
    align-items: center;

    z-index: 200;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
    box-shadow: 0 2px 4px 0 var(--maroon-20pc);

    background-color: #fff;
    color: #574751;
    color: var(--maroon);
}

header.tall {
    align-items: center;
    height: 160px;
    padding-top: 16px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
    box-shadow: 0 2px 4px 0 var(--maroon-20pc);
}

header .headerLeft,
header .headerRight {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 204px;
}

header .headerCenter,
header .headerRight {
    position: relative;
    height: 28px;
}

header .headerLeft {
    justify-content: flex-start;
}

header .headerCenter {
    overflow: hidden;
    flex: 0 1 auto;
}

header.tall .headerCenter {
    position: relative;
    height: initial;
    overflow: initial;
}

header.tall.tabs .headerCenter {
    align-self: flex-end;
}

header .headerRight {
    justify-content: flex-end;
}

header.tall .headerLeft,
header.tall .headerRight {
    align-self: flex-start;
}

header h1 {
    margin-top: 12px;
    text-align: center;
    line-height: 33px;
    font-size: 24px;
    font-weight: 300;
}

header h2 {
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
}

header h3 {
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

header h3 a,
header h3 a span {
    color: #bcb5b9;
    color: var(--warm-gray);
}

#zeplin {
    width: 36px;
    height: 29px;
    margin-right: 20px;
}

body.features-webviews #zeplin {
    display: none;
}

#upLink {
    font-size: 15px;
    font-weight: normal;
    color: #bcb5b9;
    color: var(--warm-gray);

    display: flex;
    align-items: center;
}

#upLink img {
    margin-right: 6px;
}

.avatarFrame {
    border-radius: 50%;
    background-color: #fff;
    background-size: contain;
}

.avatarFrame img {
    display: block;
    border-radius: 50%;
    object-fit: contain;
}

.avatarFrame.loading {
    background-image: url(../img/icPopupProfile.svg);
}

.logoFrame {
    text-align: center;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logoFrame.loading {
    background-image: url(../img/icOrgProfile.svg);
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

.logoFrame.loading img {
    display: none;
}

.avatarFrame.loading img {
    visibility: hidden;
}

#currentUser {
    width: 36px;
    height: 36px;
    margin-left: 24px;
    font-size: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#currentUser .avatarFrame {
    width: 36px;
    height: 36px;
}

#userMenu {
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 250;
    width: 348px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 1px 3px 0 var(--maroon-50pc);

    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    overflow: hidden;
    max-height: calc(100vh - 148px);
}

#userMenu.hasTransition {
    transition: height 300ms cubic-bezier(0.3, 0.9, 0.7, 1);
}

#userMenu.scrolling {
    overflow-y: auto;
}

#userMenu .subInfo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    font-size: 12px;
    color: #bcb5b9;
    color: var(--warm-gray);
}

#userMenu section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 300ms cubic-bezier(0.3, 0.9, 0.7, 1);
    will-change: transform;
}

#userMenu[data-state="usermenu"] section.usermenu,
#userMenu[data-state="emotar"] section.emotar {
    transform: translateX(0);
}

#userMenu[data-state="usermenu"] section.emotar {
    transform: translateX(100%);
}

#userMenu[data-state="emotar"] section.usermenu {
    transform: translateX(-100%);
}

#userInfo {
    display: flex;
    position: relative;
    height: 112px;
}

#userInfo .avatarFrame {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 24px;
    left: 24px;
    cursor: pointer;
}

.organizationProfile .logoFrame {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

#userInfo .avatarFrame::after,
.currentAvatar .avatarFrame::after {
    content: "UPDATE";
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(238, 103, 34, 0.7);
    background-color: var(--peach-70pc);
    font-size: 15px;
    color: #fff;
}

#userInfo .avatarFrame:hover::after,
.currentAvatar .avatarFrame:hover::after {
    display: flex;
}

#userInfo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 24px 0 112px;
}

#userInfo .username {
    margin-bottom: 2px;
    line-height: 20px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

#userInfo .userStatus {
    margin-top: 2px;
    line-height: 16px;
    font-size: 12px;
    color: #ee6723;
    color: var(--peach);
}

#userInfo .userStatus:empty {
    display: none;
}

#userMenu ul {
    width: 100%;
}

#userMenu .menuSeparator {
    height: 1px;
    background-image: linear-gradient(to right, transparent 72px, rgba(188, 181, 185, 0.5) 72px);
    background-image: linear-gradient(to right, transparent 72px, var(--warm-gray-50pc) 72px);
}

#userMenu .menuItem {
    height: 68px;
    padding: 0 16px;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#userInfo:hover,
#userMenu .menuItem:hover,
.organizationProfile:hover {
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

#userMenu .menuItem label,
#userMenu .menuItem a {
    display: flex;
    align-items: center;

    height: 100%;
    cursor: pointer;
}

#userMenu .menuItem .menuIcon {
    width: 16px;
    height: auto;
    margin-right: 40px;
}

#userMenu .menuItem .menuLabel {
    flex: 1;
    line-height: 20px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

#desktopNotificationsContainer,
#emailNotificationsContainer {
    --switch-on-color: var(--light-green-50pc);
    --switchKnob-on-color: var(--light-green);
}

#planName {
    text-transform: capitalize;
}

#userMenu .menuItem button {
    height: 32px;
    padding: 0 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #fdbd39;
    background-color: var(--light-orange);
}

#userMenu .menuItem label > span:first-child,
#userMenu .menuItem a > span:first-child {
    flex-grow: 1;
}

#userMenu section.emotar h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 12px;
    font-size: 15px;
}

#emotarBackButton,
#userMenu section.emotar h2 > div {
    width: 54px;
}

#emotarBackButton div {
    display: flex;
    align-items: center;
}

#emotarBackButton img {
    margin-right: 6px;
}

#emotarBackButton span {
    font-size: 15px;
    color: #bcb5b9;
    color: var(--warm-gray);
}

#userMenu section.emotar h2 > span {
    color: #574751;
    color: var(--maroon);
}

#organizationProfiles:empty {
    display: none;
}

.organizationProfile a {
    display: flex;
    align-items: center;
    padding: 24px 32px 24px 24px;
}

.organizationProfile .organizationInfoContainer {
    flex: 1;
    min-width: 1px;
}

.organizationProfile .logoFrame {
    background-size: 36px;
}

.organizationProfile .organizationLogo {
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    object-fit: contain;
}

.organizationProfile .organizationName {
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

#userMenu section.emotar .currentAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
}

#userMenu section.emotar .currentAvatar .avatarFrame {
    width: 64px;
    height: 64px;
    font-size: 0;
    position: relative;
}

#userMenu section.emotar .currentAvatar .avatarFrame.loading,
#userMenu section.emotar .avatarFrame.emotar.loading {
    background-image: url(../img/emotars/icRandom.svg);
}

#emotarList {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 14px;
    margin-bottom: 14px;
}

#emotarList .emotar {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#emotarList .emotar.selected {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #419bf9;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--cornflower-blue);
}

#emotarList .emotar img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    border-radius: 50%;
    pointer-events: none;
}

#emotarList .emotar::after {
    content: "";
    border-radius: 50%;
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -2px;
    top: -2px;
    z-index: -1;
    background-color: rgba(65, 154, 249, 0.5);
    background-color: var(--cornflower-blue-50pc);
}

#emotarList .emotar:hover::after {
    display: block;
}

#emotarList .emotar:active::after {
    z-index: 1;
}

.sacrificeForSafariGods {
    display: none;
}