dialog {
    width: 400px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 24px 24px 0;
    background-color: #fff;
    border: none;
    text-align: left;
    box-shadow: 0 1px 4px 0 rgba(188, 181, 185, 0.5);
    box-shadow: 0 1px 4px 0 var(--warm-gray-50pc);
}

dialog::backdrop {
    background-color: rgba(87, 71, 81, 0.7);
    background-color: var(--maroon-70pc, rgba(87, 71, 81, 0.7));
}

dialog + .backdrop {
    background-color: rgba(87, 71, 81, 0.7);
    background-color: var(--maroon-70pc);
}

._dialog_overlay {
    background: transparent;
}

dialog .icon:empty,
dialog .title:empty,
dialog form button:empty,
dialog .message:empty,
dialog .iconContainer:empty {
    display: none;
}

dialog .iconContainer {
    display: flex;
    height: 36px;
    margin: 0 0 24px 0;
}

dialog .iconContainer img {
    margin: 0 auto;
    width: auto;
    height: auto;
}

dialog .title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    color: #574751;
    color: var(--maroon);
}

dialog h2 {
    margin-bottom: 16px;
    line-height: 19px;
    font-size: 16px;
    color: #bcb5b9;
    color: var(--warm-gray);
}

dialog .message {
    margin-bottom: 24px;
    font-size: 16px;
    color: #bcb5b9;
    color: var(--warm-gray);

}

dialog .title:empty + .message {
    color: #574751;
    color: var(--maroon);
}

dialog .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 0;
}

dialog .inputWrapper {
    padding: 16px 0 12px;
}

dialog input {
    font-size: 16px;
}

dialog .inputLabel {
    top: 11px;
    font-size: 16px;
}

dialog .inputArea.focus .inputLabel {
    color: #fecf33;
    color: var(--yellow);
}

dialog .inputArea.typed .inputLabel {
    opacity: 1;
    transform: translateY(-26px) scale(0.875);
}

dialog .inputArea.focus .inputUnderline {
    background-color: #fecf33;
    background-color: var(--yellow);
}

dialog form {
    width: 100%;
    max-width: initial;
}

dialog form button {
    position: relative;
    min-width: 72px;
    width: auto;
    height: 36px;
    margin: 0;
    padding: 9px 8px 8px;
    background-color: #fff;
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

dialog form button:hover {
    box-shadow: 0 2px 6px 0 rgba(87, 71, 81, 0.2);
    box-shadow: 0 2px 6px 0 var(--maroon-20pc);
}

dialog form button.done {
    color: #419bf9;
    color: var(--cornflower-blue);
}

dialog form button.cancel {
    color: #bcb5b9;
    color: var(--warm-gray);
}

dialog form button:not(:last-child) {
    margin-right: 8px;
}

dialog form button:disabled {
    background-color: #fff;
    color: rgba(188, 181, 185, 0.6);
    color: var(--warm-gray-60pc);
}

dialog form button:disabled:hover {
    box-shadow: none;
}

dialog .inputContainer {
    margin: 16px 0 0 0;
}