.split {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}

aside {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 250px;
    max-width: 250px;
    min-height: 600px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
}