body, .fgAppHolder {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

.fgTopBlueBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: rgb(118, 121, 122);
    z-index: 1001;
}

html,body,.fgAppHolder, .fgAppContainer {
    min-height: 100%;
}

.fgAppHolder {
    margin-top: 4px;
    background: linear-gradient(#def3f2, #dfe6e9);
    min-height: 100vh;
}


.fgAppContainer {
    padding: 0;
    min-height: 100%;
    /* overflow: hidden; */
}

.fgContentHolder {
    padding: 15px;
    font-size: 16px;
}

.fgLoginTitle {
    font-style: italic;
    font-size: 28px;
    color: #666666;
}

.fgLoginText {
    font-size: 12px;
    color: #666666;
}

.fgSideMarginAuto {
    margin-right: auto;
    margin-left: auto;
}

.fgFullWidth {
    width: 100%;
}

.fgWidth70 {
    width: 70%;
}

.fgWidth30 {
    width: 30%;
}

.fgWidth35 {
    width: 35%;
}

.fgWidth65 {
    width: 65%;
}

.fgNoFloat {
    float: none !important;
}

.fgFont15 {
    font-size: 15px;
}

.fgLargeButton {
    font-size: 15px;
    background-color: #009edf;
    border-radius: 3px;
    border: none;
}

.input-group.input-group-lg > .fgLargeInput {
    font-size: 15px;
    height: 38px;
}

.input-group.input-group-lg > .errorState {
    border-color: red;
}

.detailsHeader {
    min-height: 100px;
}

.tab-pane {
    background-color: white;
    position: relative;
    min-height: 100vh;
}

/* Overwriting Bootstrap Tab Styles */
.nav-link {
    background-color: #f5f5f5;
}

ul {
    background-color: white;
}

.nav-tabs > li {
    margin-right: -5px;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    border-radius: 0;
}

.nav-tabs > li.active > a {
    color: #337ab7;
}

.fgNeedHelpSigningInText {
    font-weight: bold;
    font-size: 18px;
}

.fgDisclaimer {
    position: fixed;
    bottom: 0;
    padding: 10px 0 10px 0;
}

.fgDisclaimer.footerOffset {
    margin-bottom: 50px;
}

/* These 2 styles override Bootstrap styling to prevent page from overflowing container. */
.row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-image: radial-gradient(circle at 49% -14%, #fdfaf4, #c1b7a1);
}

.fgDetails {
    background-color: white;
    height: 100%;
}

.fgFooterEnabled {
    padding-bottom: 45px;
}

.returnMessage {
    height: 60px;
}

.searchIcon {
    margin-top: -15px;
    margin-right: 5px;
}

.fgBlueBg {
    background-color: #007bbb;
}

.untabbedDetailsPage {
    border-top: 3px solid #eee;
    background-color: white;
    min-height: 100vh;
}

.listPage {
    background-color: white;
    min-height: 100vh;
}

.fgTopMargin10 {
    margin-top: 10px;
}

.heavy-muted {
    color: rgb(153, 153, 153);
    font-size: 32px;
}

.fgMyWorkItemsContent, .fgInterviewAgendaContent {
    margin-top: 35px;
}

.fgMyWorkItemsContent ul, .fgInterviewAgendaContent ul {
    background-color: transparent;
}

.fgNoMargin {
    margin: 0;
}

.fgAltBackground {
    background-color: #f3f7ff;
}

.fgSecondaryButton {
    background-color: transparent;
    border: 1px solid #009edf;
    color: #009edf;
}

.container_row, .flex_container_row {
    border: 0;
    margin: 0;
    position: relative;
}

.container_row {
    height: 70px;
}

.backgroundLayer {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 70px;
}

.newWorkerInList {
    font-size: 28px !important;
    display: inline-block;
    width: 47px !important;
    height: 47px !important;
    box-sizing: border-box;
    color: rgb(0, 124, 192);
    border: 3px solid !important;
    border-radius: 50%;
    margin: 0 10px 0 0 !important;
    padding-left: 6px !important;
    padding-top: 10px;
}

input[type="text"].react-autosuggest__input {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

ul.react-autosuggest__suggestions-list {
    list-style-type: none;
    padding-left: 0;
    max-height: 185px;
    overflow: auto;
}

.fgAutosuggestOption {
    padding: 8px;
    background-color: #fdfdfd;
    border-width: 0 1px 1px 1px;
    border-color: #ccc;
    border-style: solid;

}

.hidden {
     visibility: hidden;
 }

.visible {
    visibility: visible;
}

.removeBackground {
    background-color: white !important;
}

.transparentBackground {
    background-color: transparent;
}
/************************* Badges | Start **********/

.fgBadge {
    padding: 4px;
    margin-right: 5px;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 1px 2px #ccc;
}

.fgBadgeD {
    background-color: #d865d5;
}

.fgBadgeM {
    background-color: #9cb655;
}

.fgBadgeS {
    background-color: #f08a07;
}

.fgBadgeN {
    background-color: #cc7b7a;
}

.fgBadgeR {
    background-color: #3cb371;
}


/************************* Badges | End **********/

.rel {
    position: relative !important;
}

.fgWhiteBackground {
    background-color: #ffffff;
}

.fgPadding20 {
    padding: 20px;
}

.chart {
    margin-bottom: -50px;
    margin-top: -20px;
    padding: 0;
    overflow: hidden;
}

.fgLoading {
    position: fixed;
    top: 0;
    z-index: 99999999999;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: none;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.smartWrap {
    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    clear: both;
}

.fgNavbar.xScroll {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

/******************* react-datepicker override - Necessary as we are using bootstrap ***********/
.react-datepicker {
    font-size: 1em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}
.react-datepicker-popper {
    z-index: 999;
}
.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__close-icon, .block {
    display: block !important;
}

.react-datepicker__close-icon::after {
    right: 45px;
    font-size: 16px;
    height: 20px;
    width: 20px;
    line-height: 1;
    margin: -11px auto 0;
}

/******************* react-datepicker override - End ***********/

.fgCalendarIcon, .fgSmartSelectIcon, .fgSearchIcon {
    position: absolute;
    top: 0;
    right: 10px;
}

/* Override bootstrap alert text color */
.alert.alert-danger {
    display: flex;
    color: black;
    text-align: left;
    border: 1px solid red;
    padding-top: 6px;
}

.fullWidth {
    width: 100% !important;
}

.clearBoth {
    clear: both;
}

.noPadding {
    padding: 0 !important;
}

.fgModal .btn-group > .btn:first-child:not(:last-child):not(.fgDropdownFilter),
.fgModal .btn-group > .btn:not(:first-child):not(:last-child):not(.fgDropdownFilter),
.fgModal .btn-group > .btn:last-child:not(:first-child), .btn-group > .fgDropdownFilter:not(:first-child) {
    border-radius: 3px;
}

.linkLike {
    font-size: 15px;
    color: #007CC0;
    text-align: left;
    cursor: pointer;
    display: inline-block;
}

.formRemove {
    margin-left: 15px;
}

.fgTabs {
    display: flex;
    flex-wrap: nowrap;
}

div.ratesChart.col-xs-12 {
    padding: 0;
}

li.flexTab {
    display: flex;
}

.fgLineHeight20 {
    line-height: 20px;
}

.fgMyWorkersMain .fgTile {
    height: 145px;
    width: 145px;
}

.fgQuickHire .fgFormBody {
    padding: 0;
}

.insiteBuildNumber {
    position: fixed;
    bottom: 10px;
    font-size: 12px;
}

.fgTopMargin24 {
    margin-top: 24px;
}

/* This spacer addresses a bug in Webkit's handling of flex row */
.flexSpacer {
    height: 80px;
}

/* Experimental hack to get the bootstrap dropdowns to work on iOS */
.dropdown-backdrop {
    z-index:-1;
}

.fgFilterLabel {
    font-weight: normal;
    display: inline;
}

.upperLayer,
.upperLayerWithPlus
{
    position: absolute;
    z-index: 2;
    height: 70px;
    border: 0;
    font-style:normal;
    font-size:32px;
    color:#00679E;
    left:20px;
    width:26px;
}

.upperLayer {
    font-weight:700;
    top:20px;
}

.upperLayerWithPlus {
    font-weight:200;
    top:22px;
}

.dropdown-menu-center {
    right: 20%;
}

.apiError {
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    top: 15%;
    z-index: 99;
    height: 75px;
}

.serverConfigField,.serverConfigField  input[type="text"].react-autosuggest__input {
    height: 45px;
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.font15 span {
    font-size: 15px;
}

.textRight {
    text-align: right !important;
}

.fgServerConfiguration input[type=radio] {
    height: 17px;
    width: 17px;
}

.fgRow {
    display:flex;
    align-items:center;
}

.marginTop15 {
    margin-top: 15px;
}

.marginLeft10 {
    margin-left: 10px;
    font-weight: 500;
}

.marginRight5 {
    margin-right: 5px;
}

.font14 {
    font-size: 14px;
}

.lineHeight15 {
    line-height: 15px;
}

.noLeftPadding {
    padding-left: 0px;
}

.black {
    color: black;
}