:host {
    --search-background-color: rgb(119,119,119);
    --search-text-color: rgb(255,255,255);
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search:before {
    display: inline-block;
    position: relative;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    content: '\f1c3';
    margin-right: -22px;
}

input {
    display: inline-block;
    border: none;
    border-radius: 13px;
    height: 26px;
    width: 157px;
    background-color: var(--search-background-color);
    padding-left: 28px;
    color: var(--search-text-color);
}

input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}