.fgTileContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    height: 100%;
    transition-duration: 1.7s;
    z-index: 1;

}

.centerWidthAlign {
    margin: auto;
    width: 100%;
    padding: 15px;
}



.fgStatusIcon {
    padding: 10px 0 0 35px;
}

.fgWorkerIconWrapper,
.fgPendingApprovalIconWrapper,
.fgMainIconProfilePicture,
.fgViewAdditionalWorkers,
.fgFormIconWrapper {
    border-radius: 50%;
    margin: 10px 10px 0 10px;
    width: 57px;
    height: 57px;
    float: left;
}

.fgPendingApprovalIconWrapper {
    border: 5px solid #007BBB;
    padding: 5px;
}

.fgFormIconWrapper {
    border: 5px solid #FF80C0;
    padding: 5px;
}

.fgWorkerIconWrapper {
    border: 5px solid #999999;
    padding: 5px;
}

.fgMainIconProfilePicture,
.fgViewAdditionalWorkers {
    border: 0;
    padding: 0;
}

.fgDisabledBarIndicator,
.fgGoodBarIndicator,
.fgWarningBarIndicator,
.fgCriticalBarIndicator,
.fgMoreBarIndicator,
.fgFormBarIndicator {
    background-size: 50% auto;
    width: 100%;
    height: 10px;
}

.fgDisabledBarIndicator {
    background-color: #CCCCCC;
}

.fgGoodBarIndicator {
    background-color: #008547;
}

.fgWarningBarIndicator {
    background-color: #EB8720;
}

.fgCriticalBarIndicator {
    background-color: #FF0020;
}

.fgMoreBarIndicator {
    background-color: #007BBB;
}

.fgFormBarIndicator {
    background-color: #FF80C0;
}

.fgIconIndicator {
    color: #008547;
    border: 2px solid #008547;
    font-size: 15px;
    padding: 5px;
    margin-left: 40px;
    margin-top: 10px;
    float: left;
}


.disabled {
    pointer-events: none;
    color: #cccccc;
}

.tileImage {
    margin-top: 20px;
}

.tileText {
    color: white;
    width: 100%;
}

.tileGroup,
.tileGroupMobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tileGroup {
    width: 220px;
}

.tileGroupMobile {
    width: 140px;
}
