:host {
    --player-background-color-0: rgb(0,0,0);
    --player-background-color-1: rgb(255,255,255);
    --payer-arrow-color: rgb(114,144,144);
    --payer-lamp-color-0: #555555;
    --payer-lamp-color-1: rgb(207,207,207);
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

:host(.nav) aside {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host(.nav) aside:before {
    font-family: 'Material-Design-Iconic-Font';
    font-size: 64px;
    color: var(--payer-arrow-color);
}

:host(.nav) aside.prev:before {
    content: '\f2fa'
}

:host(.nav) aside.next:before {
    content: '\f2fb'
}

main {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    min-width: 700px;
    max-height: 485px;
    min-height: 485px;
    background: var(--player-background-color-0);
    z-index: 9999; margin-top: 170px;
}

video {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 660px;
    max-width: 660px;
    min-height: 440px;
    max-height: 440px;
    background-color: var(--player-background-color-1);
    background-size: 100px 100px;
}

main > header {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 22px;
}

main > footer {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 22px;
    padding: 0 19px;
}

main > footer:after {
    display: block;
    content: '';
    height: 10px;
    background-color: rgba(0,0,0, 0.17);
    position: absolute;
    bottom: 0;
    left: 39px;
    right: 39px;
    transform: translate3d(0, 10px, 0);
}

main > footer > i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    border-radius: 2px;
    background-color: var(--payer-lamp-color-0);
}

main > footer > i:last-child {
    background-color: var(--payer-lamp-color-1);
}